<div class="row">
    <div class="col-md-12">
        <h2>Witaj w Liczniku Spierdolenia dla {{ slug }}</h2>


    </div>
    <div class="col-md-6">
        <h4>{{ today }}</h4>

        <p>Od początku roku minęło {{ days_since_year_start }} dni, w tym {{ spierdolenie_counts.year.count }} {% if spierdolenie_counts.year.count == 1 %}dzień{% else %}dni{% endif %} spierdolenia ({{ spierdolenie_counts.year.percent }}%).</p>
        <p>Od początku miesiąca minęło {{ days_since_month_start }} dni, w tym {{ spierdolenie_counts.month.count }} {% if spierdolenie_counts.year.count == 1 %}dzień{% else %}dni{% endif %} spierdolenia ({{ spierdolenie_counts.month.percent }}%).</p>
        <p>Od początku tygodnia minęło {{ days_since_week_start }} dni, w tym {{ spierdolenie_counts.week.count }} {% if spierdolenie_counts.year.count == 1 %}dzień{% else %}dni{% endif %} spierdolenia ({{ spierdolenie_counts.week.percent }}%).</p>

        <p>Średni poziom spierdolenia w tym roku to {{ spierdolenie_counts.year.medium }}, w miesiącu {{ spierdolenie_counts.month.medium }}, w tygodniu {{ spierdolenie_counts.week.medium }}.</p>
    </div>
    <div class="col-md-6">

        <h4>Dzisiejszy poziom spierdolenia</h4>
        {% if not today_spierdolenie %}
            <p><i>Dziś nie oznaczono poziomu spierdolenia.</i></p>
        {% endif %}

        <form data-request="onUpdateSpierdolenie" data-request-update="'spierdocalendar::box': '#ajax_spierdobox'" data-request-data="date: '{{ today }}'">
            <select class="form-control" name="level" id="level">
                <option value="0">0 - Normalny dobry dzień, były pushe do repo.</option>
                <option value="1">1 - Jest trochę chujowo, niewiele zrobiłem.</option>
                <option value="2">2 - Jest chujowo, niewiele zrobiłem.</option>
                <option value="3">3 - Jest megachujowo, nic nie zrobiłem.</option>
                <option value="4">4 - Czuje się jak szmata, nic nie zrobiłem</option>
                <option value="5">5 - Mam dość, będę stolarzem</option>
            </select>
            <br/>
            <label><input name="apogeum" type="checkbox" {% if today_spierdolenie.apogeum %}checked="checked"{% endif %}> Apogeum spierdolenia</label>
            <br/>
            <label>Opcjonalny opis</label><br/>
            <textarea class="form-control" name="description">{{ today_spierdolenie.description }}</textarea>
            <br/>
            <button class="btn btn-primary" type="submit">Zapisz</button>
        </form>
    </div>

    <div class="col-md-12">
        <hr>
        <h4>Diagnoza:</h4>

        <p>{{ spierdolenie_counts.diagnosis|raw }}</p>
    </div>
</div>
{% if today_spierdolenie %}
    <script>
      document.getElementById('level').value ={{ today_spierdolenie.level }}
    </script>
{% endif %}
