<link rel="stylesheet" href="{{ 'assets/css/cal.css'|theme }}"/>
{% put scripts %}
<script src="{{ 'assets/javascript/cal.js'|theme }}"></script>
{% endput %}


<div class="calendar" id="calendar-app" style="position: absolute; top:20px; left: 20px; display: none; z-index: 999999">
    <div class="calendar--day-view" id="day-view">
        <span class="day-view-exit">&times;</span>
        <span class="day-view-date" id="day-view-date">MAY 29 2016</span>
        <div class="day-view-content">
            <div class="day-highlight">
                You <span class="day-events" id="day-events">had no events for today</span>. &nbsp; <span tabindex="0"
                                                                                                          onkeyup="if(event.keyCode != 13) return this.click()"
                                                                                                          class="day-events-link"
                                                                                                          id="add-event"
                                                                                                          data-date>Add a new event?</span>
            </div>
            <div class="day-add-event" id="add-day-event-box" data-active="false">
                <div class="calrow">
                    <div class="half">
                        <label class="add-event-label">
                            Name of event
                            <input type="text" class="add-event-edit add-event-edit--long" placeholder="New event"
                                   id="input-add-event-name">

                        </label>
                    </div>
                    <div class="qtr">
                        <label class="add-event-label">
                            Start Time
                            <input type="text" class="add-event-edit" placeholder="8:15" id="input-add-event-start-time"
                                   data-options="1,2,3,4,5,6,7,8,9,10,11,12" data-format="datetime">
                            <input type="text" class="add-event-edit" placeholder="am" id="input-add-event-start-ampm"
                                   data-options="a,p,am,pm">
                        </label>
                    </div>
                    <div class="qtr">
                        <label class="add-event-label">
                            End Time
                            <input type="text" class="add-event-edit" placeholder="9" id="input-add-event-end-time"
                                   data-options="1,2,3,4,5,6,7,8,9,10,11,12" data-format="datetime">
                            <input type="text" class="add-event-edit" placeholder="am" id="input-add-event-end-ampm"
                                   data-options="a,p,am,pm">
                        </label>
                    </div>
                    <div class="half">
                        <a onkeyup="if(event.keyCode != 13) return this.click()" tabindex="0" id="add-event-save"
                           class="event-btn--save event-btn">save</a>
                        <a tabindex="0" id="add-event-cancel" class="event-btn--cancel event-btn">cancel</a>
                    </div>
                </div>

            </div>
            <div id="day-events-list" class="day-events-list">

            </div>
            <div class="day-inspiration-quote" id="inspirational-quote">
                Every child is an artist. The problem is how to remain an artist once he grows up. –Pablo Picasso
            </div>
        </div>
    </div>
    <div class="calendar--view" id="calendar-view">
        <span class="day-view-exit float-right" id="hideCal">&times;</span>
        <div class="cview__month">
            <span class="cview__month-last" id="calendar-month-last">Apr</span>
            <span class="cview__month-current" id="calendar-month">May</span>
            <span class="cview__month-next" id="calendar-month-next">Jun</span>
        </div>
        <div class="cview__header">Nie</div>
        <div class="cview__header">Pon</div>
        <div class="cview__header">Wt</div>
        <div class="cview__header">Śr</div>
        <div class="cview__header">Czw</div>
        <div class="cview__header">Pią</div>
        <div class="cview__header">Sob</div>
        <div class="calendar--view" id="dates">
        </div>
    </div>
    <div class="footer">
    </div>
</div>
{% put scripts %}
<script>
  $('#hideCal').on('click', function () {
    $('#calendar-app').hide()
  })
</script>
{% endput %}


<div style="float: right; position: absolute; left: 0; top: 20px; font-size: 32px; background-color: #b52a25; border: solid 1px #000;     padding: 10px;
    padding-right: 15px;"><span><a id="showcal" href="#"><i class="icon icon-calendar"></i></a></span></div>
{% put scripts %}
<script>
  $('document').ready(function () {
    $('#showcal').on('click', function () {
      console.log('click!')

      $('#calendar-app').toggle()
    })
  })
</script>
{% endput %}
