<style>

</style>
<script>
  document.userSlug = '{{ userSlug }}'
</script>
{% partial 'spierdocalendar::calendar' %}
<div class="spierdolenieBox container " id="ajax_spierdobox">
    {% if not slug %}
        <h4 class="text-center">Nie wybrano użytkownika.</h4>
    {% else %}
        <div id="spierdobox">
            {% partial 'spierdocalendar::box' %}
        </div>
    {% endif %}
</div>

