description = "Default layout"
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Spierdometer</title>
        <meta name="description" content="Spierdometer from Ciemnosc.com">
        <meta name="title" content="Spierdometer">
        <meta name="author" content="Viamage">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="generator" content="OctoberCMS">
        {#
        <link rel="icon" type="image/png" href="{{ 'assets/images/favico.png'|theme }}">
        <link href="{{ 'assets/css/vendor.css'|theme }}" rel="stylesheet">
        <link href="{{ 'assets/css/theme.css'|theme }}" rel="stylesheet">
        #}
        <link href="https://fonts.googleapis.com/css?family=Ubuntu&amp;subset=latin-ext" rel="stylesheet">
        <style>
            body {
                background: url(http://spierdometer.ciemnosc.com/themes/demo/assets/images/kim2.jpg);
                background-size: cover;
                background-positon: center;
            }
            * {
                font-family: 'Ubuntu', sans-serif;
            }
            .spierdolenieBox {
                border: solid #c1c1c1 1px;
                background: rgba(255, 255, 255, 0.7);
            }
            #youtube-icon {
                width: 32px;
            }
        </style>
        {% styles %}
    </head>
    <body>
        <!-- Content -->
        <section id="layout-content">
            {% page %}
        </section>
        <script src="https://www.youtube.com/iframe_api"></script>
        <script src="https://cdn.rawgit.com/labnol/files/master/yt.js"></script>
        <br />
        <div style="width: 100%; text-align: center;">
        <div data-video="MB_Mu-fCiuo"
             data-autoplay="1"
             data-loop="1"
             id="youtube-audio"
        style="margin: 0 auto;">
        </div>
        </div>

        <!-- Scripts -->
        <script src="{{ 'assets/vendor/jquery.js'|theme }}"></script>
        <script src="{{ 'assets/vendor/bootstrap.js'|theme }}"></script>
        <script src="{{ 'assets/javascript/app.js'|theme }}"></script>
        {% framework extras %}
        {% scripts %}

    </body>
</html>
